---
import styles from './Process.module.scss';
---

<section class={styles.process_container}>
  <div class={styles.process_wrapper}>
    <h5>Our Process</h5>
    <h2>What you can expect</h2>

    <div class={styles.process_cards}>
      <div class={styles.process_card}>
        <img src='/assets/process-img1.svg' alt='image' />
        <h4>Strategic <span>Collaboration</span></h4>
        <p>
          We collaborate with you to translate your ideas into captivating
          visual narratives that meet your goals.
        </p>
      </div>
      <div class={styles.process_card}>
        <img src='/assets/process-img2.svg' alt='image' />
        <h4>Profesional <span>Talent</span></h4>
        <p>
          We bring together a pool of skilled video editors, cinematographers,
          and storytellers who are passionate about their craft.
        </p>
      </div>
      <div class={styles.process_card}>
        <img src='/assets/process-img3.svg' alt='image' />
        <h4><span>Timely</span> Delivery</h4>
        <p>
          We understand the importance of deadlines. Count on us to deliver your
          projects on time, every time.
        </p>
      </div>
    </div>
  </div>
</section>
